/* css reset */
html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input, button {
  outline: none;
  width: 100%;
  border: none;
}
/*--- end of reset ----*/

:root {
  --blanco: white;
  --gris-medio: #1E441E;
  --gris-oscuro: #152614;
  --main-font: "Oswald", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --shadow: rgba(0, 0, 0, 0.2);
  --verde: #31CB00;
  --verde-oscuro: #4B8127;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--gris-medio);
  font-family: var(--main-font);
  font-size: 1.6rem;
  color: var(--blanco);
}

.skip-link{
  height: 0;
  color: transparent;
  position: fixed;
  left: 20px;
}

.skip-link:focus,
.skip.link:active{
  height: auto;
  margin: 2rem auto;
  border-radius: .5rem;
  padding: 2rem 4rem;
  font-family: var(--secondary-font);
  color: var(--blanco);
  background-color: var(--verde-oscuro);
}

.skip-link:focus-within,
.navbar__link:focus-within,
.social-media__link:focus-within,
.project:focus-within,
.arrow:focus-within,
.form__input:focus-within,
.form__send-button:focus-within {
  outline: .3rem solid var(--verde);
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.header__img {
  width: 30rem;
  height: 30rem;
  border: .1rem solid var(--gris-oscuro);
  border-radius: 50%;
  margin-bottom: 1.6rem;
  box-shadow: .8rem 1.6rem 3.2rem 0 var(--shadow);
}

.header__title {
  color: var(--blanco);
  font-size: 5.5rem;
}

.header__subtitle, .intro__title, .carousel__title, .form__title {
  color: var(--verde);
  font-family: var(--secondary-font);
  font-size: 2.4rem;
  margin-bottom: .8rem;
}

.navbar{
  width: 100%;
  text-align: center;
}

.navbar__list-container{
  display: flex;
  justify-content: space-around;
  margin: 2.4rem auto;
  width: 50%;
  color: var(--blanco);
}

.navbar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  font-family: var(--secondary-font);
}

.navbar__link{
  color: var(--blanco);
  font-weight: bolder;
  border-bottom: .4rem solid var(--verde) ;
  border-radius: .5rem;
  padding: 1.2rem 4rem;
}

.navbar__link:hover{
  background-color: var(--verde);

}

/* ----- MAIN ------- */

.intro__title, .carousel__title, .form__title{
  font-size: 2.8rem;
  text-transform: uppercase;
  margin-bottom: 1.8rem;
}

.intro {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.8rem;
  font-family: var(--secondary-font);
}

.social-media{
  width: 100%;
}

.social-media__list-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 3.2rem auto 0;
  width: 30%;
}

.social-media__link{
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
}

.social-media__link--twitter{
  background-image: url("./images/twitter.png");
}

.social-media__link--github{
  background-image: url("./images/github-logo.png");
}

.social-media__link--linkedin{
  background-image: url("./images/linkedin.png");
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.carousel-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  width: 81.5rem;
  padding: .8rem;
  overflow: hidden;
}

.project-container {
  left: 0;
  position: relative;
  width: 150rem;
}

.project {
  display: inline-block;
  width: 25rem;
  height: 40rem;
  border-radius: .5rem;
  margin: 0 .8rem;
  border: .1rem solid var(--gris-oscuro);
  transition: all 0.2s ease-in-out;
}

.project:hover {
  transform: scale(1.1);
}

.carousel__button{
  height: 100%;
}

.carousel__img{
  cursor: pointer;
  height: inherit;
  object-fit: cover;
}

.arrow {
  width: 75px;
  height: 75px;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
  border: .1rem solid transparent;
}

.arrow:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.arrow-left {
  background: var(--verde) center / contain no-repeat url(./images/play-button-left.png);
}

.arrow-right {
  background: var(--verde) center / contain no-repeat url(./images/play-button-right.png);
}

/* ------ FOOTER --------*/

.footer{
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 4rem;
  background-color: var(--gris-oscuro);
  color: var(--blanco);
  font-size: 1.8rem;
}

.form__title{
  margin-bottom: 4rem;
}

.form__input{
  padding: .8rem;
  border-radius: .5rem;
  margin-bottom: 2rem;
}

.form__input--message {
  width: 100%;
}

.form__send-button {
  background-color: var(--verde-oscuro);
  border-radius: .5rem;
  color: white;
  font-weight: bolder;
  font-size: 1.8rem;
  font-family: var(--secondary-font);
  display: flex;
  height: 50px;
  justify-content: center;
  margin-bottom: 48px;
  width: 150px;
  margin-left: auto;
  cursor: pointer;
}

.notification {
  align-items: center;
  background-color: var(--verde);
  border-radius: 5px;
  box-shadow: 8px 16px 32px 0px var(--shadow);
  color: var(--blanco);
  display: none;
  font-family: var(--secondary-font);
  height: 50px;
  justify-content: center;
  position: fixed;
  right: 24px;
  top: 24px;
  width: 300px;
}

.modal-container {
  align-items: center;
  background-color: rgba(000, 000, 000, 0.2);
  display: none;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
}

.modal {
  align-items: center;
  background-color: var(--gris-oscuro);
  border-radius: 5px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  position: fixed;
  top: 15%;
  width: 700px;
}

.modal-project-image {
  border-radius: 5px;
  border: 2px solid #000;
  height: 400px;
  margin: 16px;
  width: 550px;
}